.nav_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #394e61;
}

.nav_links .nav_item {
  background-color: #394e61;
  padding: 20px;
  text-align: center;
  /* To keep insides centered */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_links .nav_item a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav_links .active-page {
  background-color: #9793e4;
}

.nav_links .active-page a {
  color: #20157c;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1em;
}

main {
  padding: 15px;
  background-color: #292828;
}

.cards {
  display: flex;
  flex-direction: column;
  background-color: #292828;
}

.card {
  flex-basis: 400px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  /* display: inline-block;
  margin: 15px 30px 30px 15px; */
  /* border: 2px solid #000000; */
  border-radius: 10px;
  background-color: #626286;
  /* margin-bottom: 15px; */
  margin: 0px 7px 15px 7px;
  height: 400px;
}

.card .item-a {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  /* align-self: stretch;
  justify-self: stretch; */
  width: 100%;
  height: 100%;
  /* max-height: 100%;
  max-width: 100%; */
  /* overflow: hidden; */
  background-color: #000000;
  border-top-left-radius: 5px;
  object-fit: contain;
}

.card .item-b {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background-color:#a9aeb4;
  margin: 15px;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card .item-b .item-b-heading {
  font-weight: bold;
  color: #20157c;
}

.card .item-c {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  align-self: center;
  
  font-size: 100%;
  font-size: 5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  margin-left: 15px;
}

.card .item-c-long {
  font-size: 100%;
  font-size: 4em;
}

#bounty_hunters {
  margin: 20px 0px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

footer {
  padding: 15px;
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.skip {
  position: absolute;
  top: -20px;
  text-decoration: none;
  color:#FFFFFF;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.skip:focus {
  transition: top;
  transition-duration: 1s;
  top: 0px;
}

main h1 {
  color:#FFFFFF;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4em;
  margin: 10px;
}

/*Your code here again.*/ 
/*Add media query to handle reduced-motion*/
@media screen and (prefers-reduced-motion: reduce) {
  .skip:focus {
    transition: none;
  }
}

@media all and (min-width: 800px) {
  .nav_links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #292828;
  }
  .card {
    flex-basis: 470px;
  }
}